{% extends 'base.html' %}

{% block content %}

    <div class="row">
        {% for category_recap in category_recaps %}
            <div class="col s4 ">
                <h5>{{ category_recap.get_name() }}</h5>
                <div class="{{ 'red-text' if category_recap.get_percentage() > 100 else 'green-text' }}">
                    {{ "%.2f"|format(category_recap.get_price()) }} € sur {{ "%.2f"|format(category_recap.get_budget()) }} ({{ category_recap.get_percentage() }}%)
                </div>
                <div class="progress">
                    <div class="determinate" style="width: {{ category_recap.get_percentage() }}%"></div>
                </div>
            </div>
        {% endfor %}
    </div>

    <form action="" method="post">
        {{ form.csrf_token }}
        {{ form.category.label }} {{ form.category }}
        {{ form.price.label }} {{ form.price }}
        <input type="submit" value="Go">
    </form>

    <div class="row">
        {% for category_recap in category_recaps %}
            <div class="col s4">
                <h5>{{ category_recap.name }}</h5>
                {% for purchase in category_recap.purchases %}
                    <div>
                        <div>{{ purchase.date.strftime('%A %d %B') }} : {{ "%.2f"|format(purchase.price) }} € <a href="{{ url_for('remove', id=purchase.id) }}">Supprimer</a></div>

                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

{% endblock content %}
